@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani-caps/css/bpg-mrgvlovani-caps.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.accordion {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms;
}

.accordion>div {
    overflow: hidden;
}

.accordion-open {
    grid-template-rows: 1fr;

}

.line1{
    transform: rotate(-135deg);
    transition: transform 0.5s ease;
    top:12px;
    right:4px;
}
.line2{
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}
.line3{
    transform: rotate(-135deg);
    transition: transform 0.5s ease;
    bottom:4px;
    left:4px;
}